.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
        max-height: 90%;
    }

    h1 {
        color: #fff;
        font-size: 56px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &:before {
            font-family: 'La Belle Aurore', cursive;
            color: #47411b;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: -15px;
            opacity: 0.6;
        }

        &:after {
            font-family: 'La Belle Aurore', cursive;
            color: #47411b;
            font-size: 18px;
            margin-left: 20px;
            animation: bounceIn 1s 1.7s forwards;
            opacity: 0.6;
        }

        &:hover {
            font-size: 69px;
            font-size-adjust: 30px;
        }
    }

    h2 {
        color: rgb(9, 140, 166);
        margin-top: 20px;
        font-weight: 500;
        font-size: 19px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: bounceIn 1s 1.7s forwards;

        &:hover {
            font-size: 33px;
            font-size-adjust: 30px;
        }
    }

    .flat-button {
        color: #321494;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 4px;
        font-family: sans-serif;
        padding: 10px 30px;
        border: 1px solid #321494;
        margin-top: 30px;
        float: left;
        animation: fadeInAnimation 1s 1.5s backwards;
        white-space: nowrap;
    }
}
