html {
  font-size: 55%;
}

body {
  margin: 0;
  font: 100 11px/1 'Helvetica Neue', 'sans-serif';
  color: rgba(139, 152, 182, 0.678);
  background: rgba(41, 101, 106, 0.369);
  overflow: scroll;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}