.text-animate {
    display: inline-block;
    animation: flip 0.5s;
    animation-fill-mode: forwards;
    min-width: 10px;

    .text-animate-hover {
        min-width: 10px;
        display: inline-block;
        animation: bounceIn 0.3s;
        animation-fill-mode: both;
    }
}

@for $i from 1 through 631 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 10}s;
    }
}
